In [1]:
import pandas as pd
import re
from IPython.display import display

btp_midsem_marks = open('../data/btp_midsem_marks.txt', 'r').read().splitlines()
for i, x in enumerate(btp_midsem_marks):
    btp_midsem_marks[i] = re.sub(r'\s+', '  ', btp_midsem_marks[i])
print("Sample marks entry: %s" % btp_midsem_marks[0])

roll, marks = [], []
for i in btp_midsem_marks:
    r, m = i.split('  ')
    roll.append(r)
    marks.append(m)

btp_allocation = pd.read_csv('../data/btp_allocation.csv', sep=',').fillna('')
display(btp_allocation.head())
btp_allocation['All_Guides'] = btp_allocation['Guide'] + ', ' + \
    btp_allocation['Co-guide']
del btp_allocation['Guide']
del btp_allocation['Co-guide']

btp_allocation['Marks (NMY - No marks yet)'] = marks  # since the order was same in both the files
btp_allocation['roo'] = roll

# Sanity check
for row in btp_allocation.iterrows():
    if row[1]['roll_number'].strip() != row[1]['roo'].strip():
        print(row, 'something wrong')
    # Remove ugly commas
    if row[1]['All_Guides'].split(',')[1] == ' ':
        row[1]['All_Guides'] = row[1]['All_Guides'].split(',')[0]
del btp_allocation['roo']

btp_allocation.to_csv('../output/btp_analysis.csv')
print('So it works!')
btp_allocation.head()

Sample marks entry: 11ME10034  NMY

  roll_number                           Name                    Guide Co-guide
0   11ME10034                M Praveen Kumar           Sukanta K Dash
1   11MF3EP13                Abhishek Sharma              C. S. Kumar
2   12ME10021                   Dwipayan Kar             ZBB NO GUIDE
3   12ME10034  Mareddy Krishna Kishore Reddy  Jeevanjyoti Chakraborty
4   12ME10042           Prashant Singh Babal             ZBB NO GUIDE

So it works!

,roll_number,Name,All_Guides,Marks (NMY - No marks yet)
0,11ME10034,M Praveen Kumar,Sukanta K Dash,NMY
1,11MF3EP13,Abhishek Sharma,C. S. Kumar,19
2,12ME10021,Dwipayan Kar,ZBB NO GUIDE,5
3,12ME10034,Mareddy Krishna Kishore Reddy,Jeevanjyoti Chakraborty,10
4,12ME10042,Prashant Singh Babal,ZBB NO GUIDE,0