In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import LabelEncoder, RobustScaler

In [2]:
## load data
products = pd.read_csv('cproducts.csv')
tender = pd.read_csv('ctender.csv')

In [3]:
## check shape of files
print('product file has {} rows and {} columns'.format(products.shape[0], products.shape[1]))
print('tender file has {} rows and {} columns'.format(tender.shape[0], tender.shape[1]))

product file has 11972 rows and 16 columns
tender file has 149752 rows and 13 columns

In [4]:
# this data file contains product level information of transactions made by customers
products.head()

,customerID,DOB,Gender,State,PinCode,transactionDate,store_code,store_description,till_no,transaction_number_by_till,promo_code,promotion_description,product_code,product_description,sale_price_after_promo,discountUsed
0,BBID_20482,1975-10-20,male,MADHYA PRADESH,453441.0,2016-05-01,2655,BB-INDORE-MALHAR MEGA MALL,2,85246,NONPROMO,NaN,1000446431,PATANJALI CHOCOS 125g,55.00,Payback
1,BBID_20485,1955-07-21,female,NaN,999999.0,2017-03-09,2655,BB-INDORE-MALHAR MEGA MALL,8,78829,NONPROMO,NaN,1000010431,SOO FRESH ROLLS HOT DOG 4P,30.00,Payback
2,BBID_20498,1981-03-19,female,MAHARASHTRA,400064.0,2015-08-12,2655,BB-INDORE-MALHAR MEGA MALL,13,1064,0000971754,AD 399 FLAT LADIES JEANS FASHION EXC,1000077851005,"DLJ-0010-BSF-2-CJ-FL, 34, BLACK",418.95,Payback
3,BBID_20499,1986-05-10,male,MAHARASHTRA,400099.0,2016-12-18,2615,BB-AMRITSAR-TRILIUM MALL,14,51080,NONPROMO,NaN,1000443231,PATANJALI TOMATO KETCHUP BT 500g,70.00,Payback
4,BBID_204110,1988-02-29,male,MADHYA PRADESH,474001.0,2015-12-31,2655,BB-INDORE-MALHAR MEGA MALL,9,21911,0000974126,NMP 5% OFF CONCEPT DISCOUNT 2655,300481741,MAGGI NDL MERI MASALA PP 70g,34.20,Payback

In [38]:
# this file contains payment mode information used by customers in their transactions
tender.head()

,customerID,DOB,Gender,State,PinCode,transactionDate,store_code,store_description,till_no,tender_type,transaction_number_by_till,payment_amount_by_tender,PaymentUsed
0,BBID_2044,1984-04-02,male,NaN,626125.0,2015-09-03,4986,BB-MADURAI-KOCHADAI VILLAGE,22,GVOWN,9208,1000.00,GiftVoucher
1,BBID_2044,1984-04-02,male,NaN,626125.0,2015-09-03,4986,BB-MADURAI-KOCHADAI VILLAGE,22,CASH,9208,10.46,CASH
2,BBID_2044,1984-04-02,male,NaN,626125.0,2016-04-17,4986,BB-MADURAI-KOCHADAI VILLAGE,19,EDCAXIS,90269,677.28,AXIS
3,BBID_2044,1984-04-02,male,NaN,626125.0,2016-04-17,4986,BB-MADURAI-KOCHADAI VILLAGE,19,MOBI,90268,1042.00,One MobiKwik Systems
4,BBID_2044,1984-04-02,male,NaN,626125.0,2016-04-17,4986,BB-MADURAI-KOCHADAI VILLAGE,19,MOBI,90269,1000.00,One MobiKwik Systems

### Note:
Let's build a simple model using products file only. We have to create clusters of customers at store level. We'll use k-means algorithm. We'll set value of k as 3 (you can tune and find optimal value)

Clustering process is as follows (work-wise):
1. Convert the data into numeric / float.
2. Since clustering using distance measure, don't forget to scale the data. 
3. Create a matrix /array which will be feeded to the algorithm.
4. Run function.

We'll ensure that sequence of data remains unaffected. Let's see how this is done.

In [6]:
## fill missing values

products['promotion_description'].fillna('no_promo', inplace=True)
products['Gender'].fillna('no_gender', inplace=True)
products['State'].fillna('no_state', inplace=True)
products['PinCode'].fillna(-1, inplace=True)
products['DOB'].fillna("1", inplace=True)

In [7]:
## convert data into numeric / float

for c in products.columns:
    lbl = LabelEncoder()
    if products[c].dtype == 'object' and c not in ['store_description','customerID','transactionDate']:
        products[c] = lbl.fit_transform(products[c])

In [42]:
## scaling, creating matrix and running k-means

stores = list(set(products['store_code']))

cluster_labels = []
cluster_store = []
cluster_data = []
cluster_customers = []
cluster_score = []

for x in stores:
    cld = products[products['store_code'] == x]
    cluster_customers.append(cld['customerID'])
    cld.drop(['store_code','customerID','transactionDate','store_description'], axis=1, inplace=True)
    
    rbs = RobustScaler()
    cld2 = rbs.fit_transform(cld)
    
    km1 = KMeans(n_clusters=5)
    km2 = km1.fit(cld2)
    label = km2.predict(cld2)
    
    s_score = silhouette_score(cld2, label)
    cluster_score.append(s_score)
    
    cluster_labels.append(label)
    cluster_store.append(np.repeat(x, cld.shape[0]))
    cluster_data.append(cld2)

        customerID   DOB  Gender  State   PinCode transactionDate  store_code  \
7071   BBID_211492  5870       0     17  560095.0      2016-03-22        4843
7072   BBID_211496  3965       0     17  560094.0      2016-02-21        4843
7134  BBID_2114866  4217       1     36  999999.0      2017-06-25        4843
7135  BBID_2114880  2693       1     35  713213.0      2015-09-09        4843
7136  BBID_2114885  1726       1     14  814112.0      2016-05-17        4843

        store_description  till_no  transaction_number_by_till  promo_code  \
7071  BB-JAMSHEDPUR-NH-33       19                       52921        2213
7072  BB-JAMSHEDPUR-NH-33       18                       10623        2213
7134  BB-JAMSHEDPUR-NH-33       19                       21211        2213
7135  BB-JAMSHEDPUR-NH-33       19                       37469        2213
7136  BB-JAMSHEDPUR-NH-33       22                       18687         778

      promotion_description   product_code  product_description  \
7071                   2010      108009899                 2420
7072                   2010  1000366424010                 3237
7134                   2010      108034291                 5155
7135                   2010      108037500                 3661
7136                    854      108012832                 3504

      sale_price_after_promo  discountUsed
7071                  219.00            24
7072                  799.00            24
7134                   36.00            24
7135                   65.93            24
7136                   85.00            24
       customerID   DOB  Gender  State   PinCode transactionDate  store_code  \
8     BBID_204186  3487       0     10  122002.0      2017-04-23        3692
150  BBID_2042373  3609       1     36  999999.0      2016-11-22        3692
159  BBID_2042464  1887       2     20  482008.0      2016-02-05        3692
166  BBID_2042605   249       1      6  110070.0      2017-06-04        3692
167  BBID_2042640  2741       1     26  141007.0      2017-02-12        3692

            store_description  till_no  transaction_number_by_till  \
8    BB-LUDHIANA-FEROZEPUR-MF        5                       11873
150  BB-LUDHIANA-FEROZEPUR-MF        7                       63348
159  BB-LUDHIANA-FEROZEPUR-MF        5                       19973
166  BB-LUDHIANA-FEROZEPUR-MF        1                       93609
167  BB-LUDHIANA-FEROZEPUR-MF        7                       79324

     promo_code  promotion_description  product_code  product_description  \
8          2213                   2010    1000257325                  528
150        1325                   1551    1000155818                  885
159        2213                   2010     300528030                 3920
166        2213                   2010     300183686                 1895
167        2213                   2010     300812356                 5343

     sale_price_after_promo  discountUsed
8                    113.44            24
150                  118.75            24
159                   36.00            24
166                  240.00            24
167                   45.00            24

/home/gaurav/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

       customerID   DOB  Gender  State   PinCode transactionDate  store_code  \
3      BBID_20499  5224       1     21  400099.0      2016-12-18        2615
138  BBID_2042160  3564       0     36  999999.0      2016-07-31        2615
155  BBID_2042440  6184       1     26  144005.0      2016-08-04        2615
156  BBID_2042441  5630       1     35  700056.0      2016-09-12        2615
174  BBID_2042864  2212       1     32  226016.0      2017-06-11        2615

            store_description  till_no  transaction_number_by_till  \
3    BB-AMRITSAR-TRILIUM MALL       14                       51080
138  BB-AMRITSAR-TRILIUM MALL        4                       55543
155  BB-AMRITSAR-TRILIUM MALL       10                       50054
156  BB-AMRITSAR-TRILIUM MALL       13                       52905
174  BB-AMRITSAR-TRILIUM MALL       10                        9773

     promo_code  promotion_description   product_code  product_description  \
3          2213                   2010     1000443231                 4364
138        2213                   2010      108013754                 3989
155        2213                   2010      108007709                 1007
156        2213                   2010  1000542904005                 3197
174        1992                   1279      108035055                 5518

     sale_price_after_promo  discountUsed
3                      70.0            24
138                    82.0            24
155                    24.0            24
156                   399.0            24
174                   115.0            24
     customerID   DOB  Gender  State   PinCode transactionDate  store_code  \
6   BBID_204149  3409       1     21  401105.0      2016-11-08        2906
17  BBID_204360  4835       1     21  425001.0      2016-10-15        2906
23  BBID_204461  1928       1     17  574105.0      2016-06-30        2906
28  BBID_204707  1749       0     36  999999.0      2017-05-09        2906
29  BBID_204710  3632       1     36  999999.0      2016-09-14        2906

            store_description  till_no  transaction_number_by_till  \
6   BB-INDORE-TREASURE ISLAND       11                       33822
17  BB-INDORE-TREASURE ISLAND       18                       13032
23  BB-INDORE-TREASURE ISLAND       20                        2499
28  BB-INDORE-TREASURE ISLAND       14                       54186
29  BB-INDORE-TREASURE ISLAND        6                       17669

    promo_code  promotion_description   product_code  product_description  \
6         1271                    142  1000479429005                 5228
17        1168                   1004  1000200229014                 5232
23        2213                   2010      300047282                 4607
28        2213                   2010  1000438421014                 1586
29        2213                   2010      108018123                   96

    sale_price_after_promo  discountUsed
6                  1503.75            24
17                  299.50            24
23                   69.00            24
28                  599.00            24
29                  119.00            24
        customerID   DOB  Gender  State   PinCode transactionDate  store_code  \
7069   BBID_211441  5322       2     17  581305.0      2016-08-13        4796
7070   BBID_211478  5864       0     17  580001.0      2016-02-17        4796
7073  BBID_2114151  3896       1      0  500021.0      2016-10-18        4796
7074  BBID_2114164  1083       1     17  570023.0      2017-02-14        4796
7075  BBID_2114173  5215       2     17  580020.0      2016-03-05        4796

                   store_description  till_no  transaction_number_by_till  \
7069  BB-HUBLI-GOKUL ROAD-AKSHAY CEN        2                       51829
7070  BB-HUBLI-GOKUL ROAD-AKSHAY CEN        2                       17221
7073  BB-HUBLI-GOKUL ROAD-AKSHAY CEN        2                       64724
7074  BB-HUBLI-GOKUL ROAD-AKSHAY CEN       14                        7619
7075  BB-HUBLI-GOKUL ROAD-AKSHAY CEN       18                       14009

      promo_code  promotion_description   product_code  product_description  \
7069        2213                   2010      300570144                 1158
7070         604                     50  1000324381073                  436
7073        2213                   2010     1000366344                 5436
7074        2213                   2010   300013348006                 5829
7075        2131                    691     1000349544                  231

      sale_price_after_promo  discountUsed
7069                    20.0            24
7070                     0.0            24
7073                    20.0            24
7074                   136.0            24
7075                   223.8            24
     customerID   DOB  Gender  State   PinCode transactionDate  store_code  \
9   BBID_204232  5231       1     30  625011.0      2016-05-24        4986
11  BBID_204277  5218       1     30  625016.0      2015-12-27        4986
12  BBID_204295  3496       1     30  600041.0      2015-12-12        4986
13  BBID_204322  1100       1     30  600093.0      2016-01-08        4986
14  BBID_204334  4002       1     30  641025.0      2015-05-01        4986

              store_description  till_no  transaction_number_by_till  \
9   BB-MADURAI-KOCHADAI VILLAGE       13                       79027
11  BB-MADURAI-KOCHADAI VILLAGE       11                       47836
12  BB-MADURAI-KOCHADAI VILLAGE       13                       16411
13  BB-MADURAI-KOCHADAI VILLAGE        1                       14527
14  BB-MADURAI-KOCHADAI VILLAGE       13                       36412

    promo_code  promotion_description  product_code  product_description  \
9         2213                   2010     108014378                 4484
11         521                   1924     108001161                 2375
12         478                   1897     108017906                 5940
13         541                    501    1000258675                 5479
14          11                   1899     300158262                 5329

    sale_price_after_promo  discountUsed
9                    72.00            24
11                   23.80            24
12                  150.00            24
13                  188.92            24
14                    9.00            24
    customerID   DOB  Gender  State   PinCode transactionDate  store_code  \
0   BBID_20482  3108       1     20  453441.0      2016-05-01        2655
1   BBID_20485   594       0     36  999999.0      2017-03-09        2655
2   BBID_20498  4175       0     21  400064.0      2015-08-12        2655
4  BBID_204110  5596       1     20  474001.0      2015-12-31        2655
5  BBID_204129  3258       2     36  999999.0      2017-01-21        2655

            store_description  till_no  transaction_number_by_till  \
0  BB-INDORE-MALHAR MEGA MALL        2                       85246
1  BB-INDORE-MALHAR MEGA MALL        8                       78829
2  BB-INDORE-MALHAR MEGA MALL       13                        1064
4  BB-INDORE-MALHAR MEGA MALL        9                       21911
5  BB-INDORE-MALHAR MEGA MALL        4                       22778

   promo_code  promotion_description   product_code  product_description  \
0        2213                   2010     1000446431                 4269
1        2213                   2010     1000010431                 5121
2         216                     23  1000077851005                 1617
4         225                   1723      300481741                 3472
5        2213                   2010      300648527                 2354

   sale_price_after_promo  discountUsed
0                   55.00            24
1                   30.00            24
2                  418.95            24
4                   34.20            24
5                  249.00            24

In [13]:
cluster_labels[0]

array([2, 2, 0, ..., 0, 0, 0], dtype=int32)

In [19]:
# check mean score per store
np.mean(cluster_score)

0.93317857492775846

In [24]:
cluster_data

(143664,)

In [32]:
## merge list into ndarray
cluster_data = np.concatenate(cluster_data)

In [33]:
## check if the array has same rows as products file - Yes!
cluster_data.shape

(11972, 12)

In [34]:
## convert nested lists as 1d array
cluster_customers = np.concatenate(cluster_customers)
cluster_store = np.concatenate(cluster_store)
cluster_labels = np.concatenate(cluster_labels)

In [35]:
## create submission files
sub1 = pd.DataFrame({'customerID':cluster_customers, 'store_code':cluster_store, 'cluster':cluster_labels})

In [36]:
np.savetxt('../subOne_18.txt', cluster_data)
sub1.to_csv('../subtwo_18.csv', index=False)

#### Next step - go to the folder in your laptop, where these files are saved, zip them and upload on the challenge page and get score.